<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ReactJS + Spring Data REST</title>
    <link rel="stylesheet" href="/main.css" />
<!--When it comes to CSS, Spring Boot will server anything found in src/main/resources/static automatically. Put your own main.css file there.-->
</head>
<body>

    <div id="react">
        <!--where you will direct React to plug in the rendered output.-->
    </div>

    <script src="built/bundle.js"></script>

</body>
</html>